<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SyncName" value="SyncDataNode1"/>
    <add key="DBType" value="DB2"/>
  </appSettings>
  <connectionStrings>
    <add name="DB2" connectionString="Database=gbnav;UserID=db2admin; Password=chainway-db2@admin;Server=127.0.0.1:50000"/>
  </connectionStrings>
</configuration>