<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TopN" value="1000"/>
    <add key="DBType" value="DB2"/>
  </appSettings>
  <connectionStrings>
    <add name="MSSQL2005P" connectionString="server=localhost;database=SyncDemo;uid=admin;pwd=frank"/>
    <add name="DB2" connectionString="Database=gzgbnav;UserID=db2admin; Password=chainway-db2;Server=14.17.70.141:50000"/>
  </connectionStrings>
</configuration>