<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="ApiDirectory" value="E:\git\SOAFramework\01.Code\Bin\Api"/>
    <add key="CommonDirectory" value="E:\git\SOAFramework\01.Code\Bin\MicroService"/>
    <add key="ServiceEntry" value="MicroService.Library.NodeServerShell.exe"/>
    <add key="Host" value="http://127.0.0.1:9080/"/>
  </appSettings>
</configuration>
